header {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
}
.col-sm-4 {
    padding-right: 10px;
}
#the-list { 
    padding-top: 10px ;
    padding-left: 15px ;

} 
button {
    float: right;
}

li {
    padding-left: 10px;
    padding-right: 10px;
}
.striked {
    text-decoration: line-through;
    background-color: darkred;
}

.delete-btn {
    margin-left: 10px;
    color: red;
    cursor: pointer;
    float:right;
}